<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.DataManageMapper">

    <resultMap type="DataManage" id="DataManageResult">
        <id     property="waterId"       column="water_id"        />
        <result property="waterName"     column="water_name"      />
        <result property="photoTime"     column="photo_time"      />
        <result property="country"       column="country"      />
        <result property="province"      column="province"      />
        <result property="city"          column="city"     />
        <result property="type"          column="type"         />
        <result property="dataType"      column="datatype"         />
        <result property="bands"         column="bands"       />
        <result property="createBy"      column="create_by"      />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"      column="update_by"      />
        <result property="updateTime"    column="update_time"    />
        <result property="filePath"      column="file_path"         />
        <result property="rgbPath"       column="rgb_path"         />
        <result property="bandWavelengthFilePath"       column="band_wavelength_file_path"         />
        <result property="waterQualityStandard" column="water_quality_standard" />
    </resultMap>

    <resultMap type="RetrievalResult" id="RetrievalResult">
        <id     property="waterId"       column="water_id"        />
        <result property="updateTime"    column="update_time"    />
        <result property="rgbPath"       column="rgb_path"         />
        <result property="dataType"      column="dataType"         />
        <result property="ndwiParam"     column="ndwi_param"         />
        <result property="closeParam"    column="close_param"         />
        <result property="openParam"     column="open_param"         />
        <result property="min"           column="min"         />
        <result property="max"           column="max"         />
        <result property="mean"          column="mean"         />
        <result property="retrievalParams"    column="params"         />
    </resultMap>

    <resultMap type="ListResult" id="listResult">
        <id     property="waterId"       column="water_id"        />
        <result property="waterName"       column="water_name"        />
        <result property="photoTime"       column="photo_time"         />
        <result property="dataType"          column="datatype"         />
        <result property="tpMin"       column="tp_min"         />
        <result property="tpMax"       column="tp_max"         />
        <result property="tpMean"       column="tp_mean"       />
        <result property="tnMin"       column="tn_min"         />
        <result property="tnMax"       column="tn_max"         />
        <result property="tnMean"       column="tn_mean"       />
        <result property="tssMin"       column="tss_min"         />
        <result property="tssMax"       column="tss_max"         />
        <result property="tssMean"       column="tss_mean"       />
        <result property="chlaMin"       column="chla_min"         />
        <result property="chlaMax"       column="chla_max"         />
        <result property="chlaMean"       column="chla_mean"       />
        <result property="codMin"       column="cod_min"         />
        <result property="codMax"       column="cod_max"         />
        <result property="codMean"       column="cod_mean"       />
        <result property="nhMin"       column="nh_min"         />
        <result property="nhMax"       column="nh_max"         />
        <result property="nhMean"       column="nh_mean"       />
        <result property="nhResultPath"       column="nh_result_path"       />
        <result property="tpResultPath"       column="tp_result_path"       />
        <result property="tssResultPath"       column="tss_result_path"       />
        <result property="codResultPath"       column="cod_result_path"       />
        <result property="chlaResultPath"       column="chla_result_path"       />
        <result property="tnResultPath"       column="tn_result_path"       />
        <result property="rgbPath"       column="rgb_path"       />
        <result property="phonenumber"       column="phonenumber"       />
        <result property="nhSaveMethod"       column="nh_save_method"       />
        <result property="tpSaveMethod"       column="tp_save_method"       />
        <result property="tssSaveMethod"       column="tss_save_method"       />
        <result property="codSaveMethod"       column="cod_save_method"       />
        <result property="chlaSaveMethod"       column="chla_save_method"       />
        <result property="tnSaveMethod"       column="tn_save_method"       />
        <result property="nhCustomModel"       column="nh_custom_model"       />
        <result property="tpCustomModel"       column="tp_custom_model"       />
        <result property="tssCustomModel"       column="tss_custom_model"       />
        <result property="codCustomModel"       column="cod_custom_model"       />
        <result property="chlaCustomModel"       column="chla_custom_model"       />
        <result property="tnCustomModel"       column="tn_custom_model"       />
    </resultMap>

    <sql id="selectDataVo">
	    select distinct r.water_id, r.water_name, r.photo_time, r.country, r.province, r.band_wavelength_file_path,
            r.city, r.type, r.datatype, r.bands, r.create_by, r.create_time, r.update_by, r.update_time,
            r.file_path, r.rgb_path, r.county, r.location, r.department, r.contact, r.phonenumber, r.water_quality_standard
        from water_info r
    </sql>

    <select id="selectMaxWaterId" resultType="Integer">
        select r.water_id
            from water_info r
        where water_id=(select max(water_id) from water_info);
    </select>

    <sql id="selectResultVo">
	    select distinct r.water_id, r.update_time, r.ndwi_param, r.close_param,
	    r.open_param, r.min, r.max, r.mean, r.params, r.water_land_path, r.remark
    </sql>

    <select id="selectUniqueType" resultType="String">
        select distinct r.type
        from water_info r where r.del_flag = '0'
    </select>

    <select id="selectNUniqueType" resultType="Integer">
	    select count(distinct r.type) from water_info r where r.del_flag = '0'
	</select>

    <select id="selectUniqueWaterName" resultType="String">
        select distinct r.water_name
        from water_info r where r.del_flag = '0'
    </select>
    <select id="selectNUniqueWaterName" resultType="Integer">
	    select count(distinct r.water_name) from water_info r where r.del_flag = '0'
	</select>

    <select id="selectUniqueProvince" resultType="String">
        select distinct r.province
        from water_info r where r.del_flag = '0'
    </select>
    <select id="selectNUniqueProvince" resultType="Integer">
	    select count(distinct r.province) from water_info r where r.del_flag = '0'
	</select>

    <select id="selectUniqueCountry" resultType="String">
        select distinct r.country
        from water_info r where r.del_flag = '0'
    </select>
    <select id="selectNUniqueCountry" resultType="Integer">
	    select count(distinct r.country) from water_info r where r.del_flag = '0'
	</select>

    <select id="selectUniqueCity" resultType="String">
        select distinct r.city
        from water_info r where r.del_flag = '0'
    </select>
    <select id="selectNUniqueCity" resultType="Integer">
	    select count(distinct r.city) from water_info r where r.del_flag = '0'
	</select>

    <select id="selectUniqueId" resultType="String">
        select distinct r.water_id
        from water_info r
        where r.del_flag = '0'
    </select>
    <select id="selectNUniqueId" resultType="Integer">
	    select count(distinct r.water_id) from water_info r
	    where r.del_flag = '0'
	</select>

    <select id="selectTp" parameterType="Long" resultMap="RetrievalResult">
        <include refid="selectResultVo"/>
        from (
            select wi.*, tp.min, tp.max, tp.mean, tp.params,
                   wl.ndwi_param, wl.open_param, wl.close_param, wl.water_land_path 
            from (
                select w.*
                from water_info w
                where w.water_id = #{waterId}
            ) wi
            left join tp tp on wi.water_id=tp.water_id
            left join water_land wl on wi.water_id=wl.water_id
        ) r
    </select>
    <select id="selectTn" parameterType="Long" resultMap="RetrievalResult">
        <include refid="selectResultVo"/>
        from (
        select wi.*, tn.min, tn.max, tn.mean, tn.params,
               wl.ndwi_param, wl.open_param, wl.close_param, wl.water_land_path 
        from (
        select w.*
        from water_info w
        where w.water_id = #{waterId}
        ) wi
        left join tn tn on wi.water_id=tn.water_id
        left join water_land wl on wi.water_id=wl.water_id
        ) r
    </select>
    <select id="selectTss" parameterType="Long" resultMap="RetrievalResult">
        <include refid="selectResultVo"/>
        from (
        select wi.*, tss.min, tss.max, tss.mean, tss.params,
               wl.ndwi_param, wl.open_param, wl.close_param, wl.water_land_path 
        from (
        select w.*
        from water_info w
        where w.water_id = #{waterId}
        ) wi
        left join tss tss on wi.water_id=tss.water_id
        left join water_land wl on wi.water_id=wl.water_id
        ) r
    </select>
    <select id="selectChla" parameterType="Long" resultMap="RetrievalResult">
        <include refid="selectResultVo"/>
        from (
        select wi.*, tp.min, tp.max, tp.mean, tp.params,
               wl.ndwi_param, wl.open_param, wl.close_param, wl.water_land_path 
        from (
        select w.*
        from water_info w
        where w.water_id = #{waterId}
        ) wi
        left join chla tp on wi.water_id=tp.water_id
        left join water_land wl on wi.water_id=wl.water_id
        ) r
    </select>
    <select id="selectCod" parameterType="Long" resultMap="RetrievalResult">
        <include refid="selectResultVo"/>
        from (
        select wi.*, tp.min, tp.max, tp.mean, tp.params,
               wl.ndwi_param, wl.open_param, wl.close_param, wl.water_land_path 
        from (
        select w.*
        from water_info w
        where w.water_id = #{waterId}
        ) wi
        left join cod tp on wi.water_id=tp.water_id
        left join water_land wl on wi.water_id=wl.water_id
        ) r
    </select>
    <select id="selectNh" parameterType="Long" resultMap="RetrievalResult">
        <include refid="selectResultVo"/>
        from (
        select wi.*, tp.min, tp.max, tp.mean, tp.params,
               wl.ndwi_param, wl.open_param, wl.close_param, wl.water_land_path 
        from (
        select w.*
        from water_info w
        where w.water_id = #{waterId}
        ) wi
        left join nh tp on wi.water_id=tp.water_id
        left join water_land wl on wi.water_id=wl.water_id
        ) r
    </select>

    <select id="selectDataList" parameterType="DataManage" resultMap="DataManageResult">
        <include refid="selectDataVo"/>
        where r.del_flag = '0'
        <if test="province != null and province != ''">
            and r.province =#{province}
        </if>
        <if test="city != null and city != ''">
            and r.city =#{city}
        </if>
        <if test="type != null and type != ''">
            and r.type like concat('%', #{type}, '%')
        </if>
        <if test="dataType != null and dataType != '' and dataType == 0 ">
            and r.datatype = 0
        </if>
        <if test="dataType != null and dataType != '' and dataType == 1 ">
            and r.datatype = 1
        </if>
        <if test="waterName != null and waterName != ''">
            AND r.water_name like concat('%', #{waterName}, '%')
        </if>
        <if test="waterId != null and waterId != ''">
            AND r.water_id = #{waterId}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(r.photo_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(r.photo_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <select id="selectListResult" parameterType="RetrievalResult" resultMap="listResult">
        select wi.water_id water_id,
            wi.water_name water_name,
            wi.photo_time photo_time,
            wi.province province,
            wi.city city,
            wi.type type,
            wi.datatype datatype,
            wi.location location,
            wi.bands bands,
            wi.rgb_path rgb_path, wi.department department,
            wi.contact contact, wi.phonenumber phonenumber,

            tp.min tp_min, tp.max tp_max, tp.mean tp_mean,
            tp.result_path tp_result_path, tp.save_method tp_save_method,
            tn.min tn_min, tn.max tn_max, tn.mean tn_mean,
            tn.result_path tn_result_path, tn.save_method tn_save_method,
            tss.min tss_min, tss.max tss_max, tss.mean tss_mean,
            tss.result_path tss_result_path, tss.save_method tss_save_method,
            chla.min chla_min, chla.max chla_max, chla.mean chla_mean,
            chla.result_path chla_result_path, chla.save_method chla_save_method,
            cod.min cod_min, cod.max cod_max, cod.mean cod_mean,
            cod.result_path cod_result_path, cod.save_method cod_save_method,
            nh.min nh_min, nh.max nh_max, nh.mean nh_mean,
            nh.result_path nh_result_path, nh.save_method nh_save_method
        from
        (select
            w.*
        from water_info w
        where w.del_flag='0'
        <if test="waterName != null">
            and w.water_name =#{waterName}
        </if>
        <if test="province != null">
            and w.province =#{province}
        </if>
        <if test="city != null">
            and w.city =#{city}
        </if>
        <if test="type != null">
            and w.type =#{type}
        </if>
        <if test="dataType != null and dataType == 0 ">
            and w.datatype = 0
        </if>
        <if test="dataType != null and dataType == 1 ">
            and w.datatype = 1
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(w.photo_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(w.photo_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        ) wi
            left join tp tp on wi.water_id=tp.water_id
            left join tn tn on wi.water_id=tn.water_id
            left join tss tss on wi.water_id=tss.water_id
            left join nh nh on wi.water_id=nh.water_id
            left join cod cod on wi.water_id=cod.water_id
            left join chla chla on wi.water_id=chla.water_id
    </select>

    <select id="selectUniqueByDictCode" parameterType="Long" resultMap="DataManageResult">
        <include refid="selectDataVo"/>
        where r.del_flag = '0'
        <if test="type != null and type != ''">
            AND r.type = #{type}
        </if>
        <if test="waterName != null and waterName != ''">
            AND r.water_name like concat('%', #{waterName}, '%')
        </if>
        <if test="waterId != null and waterId != ''">
            AND r.water_id = #{waterId}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(r.photo_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(r.photo_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <!--        &lt;!&ndash; 数据范围过滤 &ndash;&gt;-->
        <!--        ${dataScope}-->
    </select>

    <update id="updateWater" parameterType="DataManage">
        update water_info
        <set>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="dataType != null and dataType != ''">datatype = #{dataType},</if>
            <if test="waterName != null and waterName != ''">water_name = #{waterName},</if>
            <if test="country != null and country != ''">country = #{country},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="photoTime != null">photo_time= #{photoTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="bands != null and bands != ''">bands = #{bands},</if>
            <if test="filePath != null and filePath != ''">file_path = #{filePath},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="rgbPath != null and rgbPath != ''">rgb_path = #{rgbPath},</if>
            <if test="county != null and county != ''">county = #{county},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="department != null and department != ''">department = #{department},</if>
            <if test="contact != null and contact != ''">contact = #{contact},</if>
            <if test="phonenumber != null and phonenumber != ''">phonenumber = #{phonenumber},</if>
            <if test="updateTime != null">update_time= #{updateTime},</if>
            <if test="updateBy != null">update_by= #{updateBy},</if>
            <if test="bandWavelengthFilePath != null and bandWavelengthFilePath != ''">band_wavelength_file_path = #{bandWavelengthFilePath},</if>
        </set>
        where water_id = #{waterId}
    </update>

    <insert id="insertWater" parameterType="DataManage" useGeneratedKeys="true" keyProperty="waterId">
        insert into water_info(
        <if test="type != null and type != ''">type,</if>
        <if test="dataType != null and dataType != ''">datatype,</if>
        <if test="waterName != null and waterName != ''">water_name,</if>
        <if test="country != null and country != ''">country,</if>
        <if test="province != null and province != ''">province,</if>
        <if test="city != null and city != ''">city,</if>
        <if test="photoTime != null">photo_time,</if>
        <if test="remark != null and remark != ''">remar,</if>
        <if test="bands != null and bands != ''">bands,</if>
        <if test="filePath != null and filePath != ''">file_path,</if>
        <if test="fileName != null and fileName != ''">file_name,</if>
        <if test="rgbPath != null and rgbPath != ''">rgb_path,</if>
        <if test="county != null and county != ''">county,</if>
        <if test="location != null and location != ''">location,</if>
        <if test="department != null and department != ''">department,</if>
        <if test="contact != null and contact != ''">contact,</if>
        <if test="phonenumber != null and phonenumber != ''">phonenumber,</if>
        <if test="updateTime != null">update_time,</if>
        <if test="updateBy != null">update_by,</if>
        <if test="bandWavelengthFilePath != null and bandWavelengthFilePath != ''">band_wavelength_file_path,</if>
        create_time
        )values(
        <if test="type != null and type != ''">#{type},</if>
        <if test="dataType != null and dataType != ''">#{dataType},</if>
        <if test="waterName != null and waterName != ''">#{waterName},</if>
        <if test="country != null and country != ''">#{country},</if>
        <if test="province != null and province != ''">#{province},</if>
        <if test="city != null and city != ''">#{city},</if>
        <if test="photoTime != null">#{photoTime},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="bands != null and bands != ''">#{bands},</if>
        <if test="filePath != null and filePath != ''">#{filePath},</if>
        <if test="fileName != null and fileName != ''">#{fileName},</if>
        <if test="rgbPath != null and rgbPath != ''">#{rgbPath},</if>
        <if test="county != null and county != ''">#{county},</if>
        <if test="location != null and location != ''">#{location},</if>
        <if test="department != null and department != ''">#{department},</if>
        <if test="contact != null and contact != ''">#{contact},</if>
        <if test="phonenumber != null and phonenumber != ''">#{phonenumber},</if>
        <if test="updateTime != null">#{updateTime},</if>
        <if test="updateBy != null">#{updateBy},</if>
        <if test="bandWavelengthFilePath != null and bandWavelengthFilePath != ''">#{bandWavelengthFilePath},</if>
        sysdate()
        )
    </insert>

    <insert id="insertTp" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into tp(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <insert id="insertTn" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into tn(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <insert id="insertTss" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into tss(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <insert id="insertChla" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into chla(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <insert id="insertCod" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into cod(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <insert id="insertNh" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into nh(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <insert id="insertWaterLand" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into water_land(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <update id="updateTss" parameterType="DataManage">
        update water_info
        <set>
            <if test="updateBy != null">update_by= #{updateBy},</if>
            <if test="bandWavelengthFilePath != null and bandWavelengthFilePath != ''">band_wavelength_file_path = #{bandWavelengthFilePath},</if>
        </set>
        where water_id = #{waterId}
    </update>

    <delete id="deleteWaterById" parameterType="Long">
 		delete from water_info where water_id = #{waterId}
 	</delete>
</mapper>