<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.DataManageMapper">

    <resultMap type="DataManage" id="DataManageResult">
        <id     property="waterId"       column="water_id"        />
        <result property="waterName"     column="water_name"      />
        <result property="photoTime"     column="photo_time"      />
        <result property="country"       column="country"      />
        <result property="province"      column="province"      />
        <result property="city"          column="city"     />
        <result property="type"          column="type"         />
        <result property="bands"        column="bands"       />
        <result property="createBy"     column="create_by"      />
        <result property="createTime"   column="create_time"    />
        <result property="updateBy"     column="update_by"      />
        <result property="updateTime"   column="update_time"    />
        <result property="filePath"       column="file_path"         />
        <result property="rgbPath"       column="rgb_path"         />
        <!--        <result property="fileName"       column="file_name"         />-->
<!--        <result property="rgbPath"       column="rgb_path"         />-->
    </resultMap>

    <resultMap type="RetrievalResult" id="RetrievalResult">
        <id     property="waterId"       column="water_id"        />
        <result property="updateTime"   column="update_time"    />
        <result property="rgbPath"       column="rgb"         />
        <result property="para1"       column="para_1"         />
        <result property="para2"       column="para_2"         />
        <result property="para3"       column="para_3"         />
        <result property="min"       column="min"         />
        <result property="max"       column="max"         />
        <result property="mean"       column="mean"         />
        <result property="county"       column="county"         />
        <result property="location"       column="location"         />
        <result property="department"       column="department"         />
        <result property="contact"       column="contact"         />
        <result property="contactInformation"       column="contact_information"         />
        <result property="photoTime"       column="photo_time"         />
        <result property="retrievalParams"       column="params"         />
    </resultMap>

    <resultMap type="ListResult" id="listResult">
        <id     property="waterId"       column="water_id"        />
        <result     property="waterName"       column="water_name"        />
        <result property="photoTime"       column="photo_time"         />
        <result property="tpMin"       column="tp_min"         />
        <result property="tpMax"       column="tp_max"         />
        <result property="tpMean"       column="tp_mean"       />
        <result property="tnMin"       column="tn_min"         />
        <result property="tnMax"       column="tn_max"         />
        <result property="tnMean"       column="tn_mean"       />
        <result property="tssMin"       column="tss_min"         />
        <result property="tssMax"       column="tss_max"         />
        <result property="tssMean"       column="tss_mean"       />
        <result property="chlaMin"       column="chla_min"         />
        <result property="chlaMax"       column="chla_max"         />
        <result property="chlaMean"       column="chla_mean"       />
        <result property="codMin"       column="cod_min"         />
        <result property="codMax"       column="cod_max"         />
        <result property="codMean"       column="cod_mean"       />
        <result property="nhMin"       column="nh_min"         />
        <result property="nhMax"       column="nh_max"         />
        <result property="nhMean"       column="nh_mean"       />
        <result property="nhRgbPath"       column="nh_rgb_path"       />
        <result property="tpRgbPath"       column="tp_rgb_path"       />
        <result property="tssRgbPath"       column="tss_rgb_path"       />
        <result property="codRgbPath"       column="cod_rgb_path"       />
        <result property="chlaRgbPath"       column="chla_rgb_path"       />
        <result property="tnRgbPath"       column="tn_rgb_path"       />
    </resultMap>

    <sql id="selectDataVo">
	    select distinct r.water_id, r.water_name, r.photo_time, r.country, r.province,
            r.city, r.type, r.bands, r.create_by, r.create_time, r.update_by, r.update_time,
            r.file_path, r.rgb_path, r.county, r.location, r.department, r.contact, r.contact_information
        from water_info r
    </sql>

    <sql id="selectResultVo">
	    select distinct r.water_id, r.update_time, r.rgb, r.para_1, r.para_2, r.para_3, r.min, r.max, r.mean
    </sql>

    <select id="selectUniqueType" resultType="String">
        select distinct r.type
        from water_info r where r.del_flag = '0'
    </select>
    <select id="selectNUniqueType" resultType="Integer">
	    select count(distinct r.type) from water_info r where r.del_flag = '0'
	</select>

    <select id="selectUniqueWaterName" resultType="String">
        select distinct r.water_name
        from water_info r where r.del_flag = '0'
    </select>
    <select id="selectNUniqueWaterName" resultType="Integer">
	    select count(distinct r.water_name) from water_info r where r.del_flag = '0'
	</select>

    <select id="selectUniqueProvince" resultType="String">
        select distinct r.province
        from water_info r where r.del_flag = '0'
    </select>
    <select id="selectNUniqueProvince" resultType="Integer">
	    select count(distinct r.province) from water_info r where r.del_flag = '0'
	</select>

    <select id="selectUniqueCountry" resultType="String">
        select distinct r.country
        from water_info r where r.del_flag = '0'
    </select>
    <select id="selectNUniqueCountry" resultType="Integer">
	    select count(distinct r.country) from water_info r where r.del_flag = '0'
	</select>

    <select id="selectUniqueCity" resultType="String">
        select distinct r.city
        from water_info r where r.del_flag = '0'
    </select>
    <select id="selectNUniqueCity" resultType="Integer">
	    select count(distinct r.city) from water_info r where r.del_flag = '0'
	</select>

    <select id="selectUniqueId" resultType="String">
        select distinct r.water_id
        from water_info r
        where r.del_flag = '0'
    </select>
    <select id="selectNUniqueId" resultType="Integer">
	    select count(distinct r.water_id) from water_info r
	    where r.del_flag = '0'
	</select>

    <select id="selectTp" parameterType="Long" resultMap="RetrievalResult">
        <include refid="selectResultVo"/>
        from tp r
        where r.water_id = #{waterId}
    </select>
    <select id="selectTn" parameterType="Long" resultMap="RetrievalResult">
        <include refid="selectResultVo"/>
        from tn r
        where r.water_id = #{waterId}
    </select>
    <select id="selectTss" parameterType="Long" resultMap="RetrievalResult">
        <include refid="selectResultVo"/>
        from tss r
        where r.water_id = #{waterId}
    </select>
    <select id="selectChla" parameterType="Long" resultMap="RetrievalResult">
        <include refid="selectResultVo"/>
        from chla r
        where r.water_id = #{waterId}
    </select>
    <select id="selectCod" parameterType="Long" resultMap="RetrievalResult">
        <include refid="selectResultVo"/>
        from cod r
        where r.water_id = #{waterId}
    </select>
    <select id="selectNh" parameterType="Long" resultMap="RetrievalResult">
        <include refid="selectResultVo"/>
        from nh r
        where r.water_id = #{waterId}
    </select>

    <select id="selectDataList" parameterType="DataManage" resultMap="DataManageResult">
        <include refid="selectDataVo"/>
        where r.del_flag = '0'
        <if test="type != null and type != ''">
            AND r.type = #{type}
        </if>
        <if test="waterName != null and waterName != ''">
            AND r.water_name like concat('%', #{waterName}, '%')
        </if>
        <if test="waterId != null and waterId != ''">
            AND r.water_id = #{waterId}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(r.photo_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(r.photo_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
<!--        &lt;!&ndash; 数据范围过滤 &ndash;&gt;-->
<!--        ${dataScope}-->
    </select>

    <select id="selectListResult" parameterType="RetrievalResult" resultMap="listResult">
        select wi.water_id water_id,
            wi.water_name water_name,
            wi.photo_time photo_time,
            wi.province province,
            wi.city city,
            wi.type type,
            wi.location location,
            tp.min tp_min, tp.max tp_max, tp.mean tp_mean, tp.rgb as tp_rgb_path,
            tn.min tn_min, tn.max tn_max, tn.mean tn_mean, tn.rgb as tn_rgb_path,
            tss.min tss_min, tss.max tss_max, tss.mean tss_mean, tss.rgb as tss_rgb_path,
            chla.min chla_min, chla.max chla_max, chla.mean chla_mean, chla.rgb as chla_rgb_path,
            cod.min cod_min, cod.max cod_max, cod.mean cod_mean, cod.rgb as cod_rgb_path,
            nh.min nh_min, nh.max nh_max, nh.mean nh_mean, nh.rgb as nh_rgb_path
        from
        (select
            w.*
        from water_info w
        where w.del_flag='0'
        <if test="waterName != null">
            and w.water_name =#{waterName}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(w.photo_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(w.photo_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        ) wi
            left join tp tp on wi.water_id=tp.water_id
            left join tn tn on wi.water_id=tn.water_id
            left join tss tss on wi.water_id=tss.water_id
            left join nh nh on wi.water_id=nh.water_id
            left join cod cod on wi.water_id=cod.water_id
            left join chla chla on wi.water_id=chla.water_id

    </select>

    <select id="selectUniqueByDictCode" parameterType="Long" resultMap="DataManageResult">
        <include refid="selectDataVo"/>
        where r.del_flag = '0'
        <if test="type != null and type != ''">
            AND r.type = #{type}
        </if>
        <if test="waterName != null and waterName != ''">
            AND r.water_name like concat('%', #{waterName}, '%')
        </if>
        <if test="waterId != null and waterId != ''">
            AND r.water_id = #{waterId}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(r.photo_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(r.photo_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <!--        &lt;!&ndash; 数据范围过滤 &ndash;&gt;-->
        <!--        ${dataScope}-->
    </select>

    <update id="updateWater" parameterType="DataManage">
        update water_info
        <set>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="waterName != null and waterName != ''">water_name = #{waterName},</if>
            <if test="country != null and country != ''">country = #{country},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="photoTime != null">photo_time= #{photoTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="bands != null and bands != ''">bands = #{bands},</if>
            <if test="filePath != null and filePath != ''">file_path = #{filePath},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="rgbPath != null and rgbPath != ''">rgb_path = #{rgbPath},</if>
            <if test="county != null and county != ''">county = #{county},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="department != null and department != ''">department = #{department},</if>
            <if test="contact != null and contact != ''">contact = #{contact},</if>
            <if test="contactInformation != null and contactInformation != ''">contact_information = #{contactInformation},</if>
            <if test="updateTime != null">update_time= #{updateTime},</if>
            <if test="updateBy != null">update_by= #{updateBy},</if>
        </set>
        where water_id = #{waterId}
    </update>

    <insert id="insertWater" parameterType="DataManage" useGeneratedKeys="true" keyProperty="waterId">
        insert into water_info(
        <if test="type != null and type != ''">type,</if>
        <if test="waterName != null and waterName != ''">water_name,</if>
        <if test="country != null and country != ''">country,</if>
        <if test="province != null and province != ''">province,</if>
        <if test="city != null and city != ''">city,</if>
        <if test="photoTime != null">photo_time,</if>
        <if test="bands != null and bands != ''">bands,</if>
        <if test="filePath != null and filePath != ''">file_path,</if>
        <if test="fileName != null and fileName != ''">file_name,</if>
        <if test="rgbPath != null and rgbPath != ''">rgb_path,</if>
        <if test="county != null and county != ''">county,</if>
        <if test="location != null and location != ''">location,</if>
        <if test="department != null and department != ''">department,</if>
        <if test="contact != null and contact != ''">contact,</if>
        <if test="contactInformation != null and contactInformation != ''">contact_information,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="type != null and type != ''">#{type},</if>
        <if test="waterName != null and waterName != ''">#{waterName},</if>
        <if test="country != null and country != ''">#{country},</if>
        <if test="province != null and province != ''">#{province},</if>
        <if test="city != null and city != ''">#{city},</if>
        <if test="photoTime != null">#{photoTime},</if>
        <if test="bands != null and bands != ''">#{bands},</if>
        <if test="filePath != null and filePath != ''">#{filePath},</if>
        <if test="fileName != null and fileName != ''">#{fileName},</if>
        <if test="rgbPath != null and rgbPath != ''">#{rgbPath},</if>
        <if test="county != null and county != ''">#{county},</if>
        <if test="location != null and location != ''">#{location},</if>
        <if test="department != null and department != ''">#{department},</if>
        <if test="contact != null and contact != ''">#{contact},</if>
        <if test="contactInformation != null and contactInformation != ''">#{contactInformation},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <insert id="insertTp" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into tp(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <insert id="insertTn" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into tn(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <insert id="insertTss" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into tss(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <insert id="insertChla" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into chla(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <insert id="insertCod" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into cod(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <insert id="insertNh" parameterType="long" useGeneratedKeys="true" keyProperty="waterId">
        insert into nh(
        <if test="waterId != null and waterId != ''">water_id,</if>
        update_time
        )values(
        <if test="waterId != null and waterId != ''">#{waterId},</if>
        sysdate()
        )
    </insert>

    <delete id="deleteWaterById" parameterType="Long">
 		delete from water_info where water_id = #{waterId}
 	</delete>
</mapper>